<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>Mot de passe oublié ?</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="passwordOublieForm">
        <div fxFlex fxLayout="column">
                
            <mat-form-field MatFormFieldAppearance="standard" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="passwordOublieForm.controls.email.touched && passwordOublieForm.controls.email.invalid">
                    <span *ngIf="passwordOublieForm.controls.email.errors.required">Ce champ est obligatoire</span>
                    <span *ngIf="passwordOublieForm.controls.email.errors.pattern">Ce champ est invalide</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!(passwordOublieForm.valid && passwordOublieForm.dirty)">
        <mat-icon>send</mat-icon>envoyer mot de passe
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon> Fermer
    </button>
</mat-dialog-actions>
